In [44]:
import pandas as pd

In [45]:
file_list = ['anime.csv', 'people.csv', 'character.csv', 'genre.csv', 'studio.csv', 'anime_watch_stats.csv',\
                 'anime_score_stats.csv', 'anime_general_stats.csv']
connecting_tb = ['voice_actor.csv','anime_genre.csv','studio_anime.csv','staff.csv','anime_character.csv']

In [47]:
for csv in connecting_tb:
    df = pd.read_csv(csv)
    display(df[df.iloc[:,:2].duplicated()])

Empty DataFrame
Columns: [character_id, people_id]
Index: []

Empty DataFrame
Columns: [anime_id, genre_id]
Index: []

Empty DataFrame
Columns: [anime_id, studio_id]
Index: []

Empty DataFrame
Columns: [anime_id, people_id, role]
Index: []

Empty DataFrame
Columns: [anime_id, character_id, role]
Index: []

In [48]:
for csv in file_list :
    df = pd.read_csv(csv)
    display(df[df.iloc[:,0].duplicated()])

Empty DataFrame
Columns: [id, title, english_title, type, source, start_air, end_air, season_premier, theme, rating, img_url]
Index: []

Empty DataFrame
Columns: [id, full_name, birthday, favorites, img_url]
Index: []

Empty DataFrame
Columns: [id, full_name, favorites, img_url]
Index: []

Empty DataFrame
Columns: [id, name]
Index: []

Empty DataFrame
Columns: [id, name, rank, favorites, img_url]
Index: []

Empty DataFrame
Columns: [anime_id, watching, completed, on_hold, dropped, plan_to_watch, total]
Index: []

Empty DataFrame
Columns: [anime_id, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
Index: []

Empty DataFrame
Columns: [anime_id, score, rating_count, ranked, popularity, members, favorites]
Index: []

In [51]:
df = pd.read_csv("studio.csv")
df[df["id"] == 2413]

Empty DataFrame
Columns: [id, name, rank, favorites, img_url]
Index: []